<h1>Tasks</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{range .Tasks}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Title}}</td>
            <td>{{.Description}}</td>
            <td>{{.Owner}}</td>
            <td>
                {{if .Started}} {{if .Completed}} Completed {{else}} In Progress
                {{end}} {{else}} Not Started {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
